{edit}

<hr/>

<div>
    <form method="post">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" name="name" id="name" value="{name}" class="form-control" placeholder="Имя">
        </div>
        <div class="form-group">
            <label for="email">Почта</label>
            <input type="email" name="email" id="email" value="{email}" class="form-control" placeholder="Почта">
        </div>
        <div class="form-group">
            <label for="text">Описание задачи</label>
            <textarea class="form-control" name="text" id="text" rows="3">{text}</textarea>
        </div>
        <div class="form-check" style="display: {isAdmin}">
            <input type="checkbox" class="form-check-input" id="status" name="status" {status}>
            <label class="form-check-label" for="status">Выполнено</label>
        </div>

        <input type="hidden" name="id" value="{id}">

        <div class="mt20">
            <a href="/" class="btn btn-primary" role="button">Назад</a>
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>
