{login}

<hr/>

<div>
    <form method="post">
        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" name="login" id="login" class="form-control" placeholder="Логин">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Пароль">
        </div>

        <div class="mt20">
            <a href="/" class="btn btn-primary" role="button">Назад</a>
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>
