{index}

<hr/>

<div>
    <a href="/edit" class="btn btn-primary" role="button">Создать</a>
</div>

<div class="table-responsive mt20">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><a href="/tasks/{offset}/name/">Имя</a></th>
                <th><a href="/tasks/{offset}/email/">Почта</a></th>
                <th>Описание задачи</th>
                <th><a href="/tasks/{offset}/status/">Статус</a></th>
                <th style="display:{isAdmin}"></th>
            </tr>
        </thead>
        <tbody>
        {:listItem:}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {:paginate:}
        </ul>
    </nav>
</div>
